body {
    background-color: rgb(68, 67, 67);
    font-size: 100%;
}
    .mainHeadersSection{
      text-align: center;
      background-image: url("");
      background-size: 100vw 100vh;
      width: 1500px;
      text-align: center;
      margin: 1em auto;
      margin-top: 0%;
      margin-top: 0%;

    } 
    a {
      color: orange;
    }
    .center{
      text-align: center;
    }
 
  #title{
    text-align: center;
    color: yellow;
    font-size: 2.25em;
    margin: 2.5em auto;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 320px;
    overflow: auto;
    text-overflow: auto;
  }
  .badge1{
    text-align: left;
    margin: 2.5em auto;
    margin-top: 1%;
    width: 100%;
    color: white;
    font-size: 1.1em;
  }
  .flex{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .smallText{
    text-align: center;
    color: yellow;
    font-size: 1.25em;
    margin: 1.5em auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width:1100px;
    overflow: auto;
    text-overflow: auto;

  }
  #bigText{
    text-align: center;
    color: yellow;
    font-size: 1.25em;
    margin: 1.5em auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width:1300px;
    overflow: auto;
    text-overflow: auto;

  }
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
  }